<!doctype html>
<html ng-app="equipa">
    <head>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <meta charset="utf-8">
    </head>
    <!--<body  ng-controller="mostraJogador as b">
    <div ng-repeat="jogador in b.objecto">
        <div ng-hide="jogador.substituido">
            <h2>{{jogador.nome}}</h2>

        </div>




    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="js/app.js"></script>

    </body>-->

    <body ng-controller="mostraJogador as b">
    <div ng-repeat="jogador in b.objecto">
        <div ng-hide="jogador.substituido">
        <section ng-controller="PanelController as panel">
            <ul class="nav nav-pills">


                            <li role="presentation" ng-class="{active:panel.isSelected(1)}">
                                <a href ng-click="panel.setTabulador(1)">historico</a>
                            </li>
                            <li role="presentation" ng-class="{active:panelisSelected(2)}">
                                <a href ng-click="panel.setTabulador(2)">golos</a>

                            </li>
                            <li role="presentation" ng-class="{active:panel.isSelected(3)">
                                <a href ng-click="panel.setTabulador(3)">Caracteristicas</a>
                            </li>

            </ul>
            <div class="panel" ng-show="panel.isSelected(1)">
                <h1>jogador</h1>
                <p>{{jogador.nome}}</p>
            </div>
            <div class="panel" ng-show="panel.isSelected(2)">
                <h1>jogador</h1>
                <p>{{jogador.numero}}</p>
            </div>
            <div class="panel" ng-show="panel.isSelected(3)">
                <h3>Caracteristicas</h3>

                <blockquote ng-repeat="caract in jogador.caracteristicas">
                    <p>Votaçao: {{caract.votos}}</p>
                    <p>Messagem: {{caract.comentario}}</p>
                </blockquote>

            </div>
            <form name="comentariosplayer" ng-controller="CaracteristicasController as caractCtrl" ng-submit="caractCtrl.envio(carac)">
                <blockquote>
                    <b>Votos: {{caractCtrl.caracteristica.votos}}</b>{{caractCtrl.caracteristica.comentario}}
                </blockquote>
                <select ng-model="caractCtrl.caracteristica.votos">
                    <option value="1">1 estrela</option>
                    <option value="2">2 estrelas</option>
                </select>
                <textarea ng-model="caractCtrl.caracteristica.comentario"></textarea>
                <label>by:</label>
                <input type="email" />
                <input type="submit" value="Enviar" />
            </form>
        </section>
    </div>
    </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>